footer{
    position: relative;
    bottom: 0;
    margin-top: 10rem;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgb(248, 104, 104) 44%, rgb(240, 76, 76) 100%);
    color: #fff;
    font-weight: bolder;
    box-shadow: 0 0 0.2rem 0.1rem grey;
    padding: .5rem;
    display: flex;
}
footer p{
    margin-left: auto;
    margin-right: auto;
}
.div-logo{
    display: flex;
    cursor: pointer;
    margin-bottom: 5rem;
}
.animacao{
    width: 16rem;
    height: 2rem;
}
.animacao:hover .div-logo{/*animacao logo*/
    animation: anima-logo .3s none;
}
.div-logo h1{
    font-size: 1.2rem;
}
.logo{
    height: 20px;
    width: 20px;
    margin-left: .3rem;
}
footer a{
    text-decoration: none;
    margin-left: .3rem;
    color: #fff;
}
footer a:hover{
    border-bottom: 1px solid #fff;
}
/*dark mode*/
body.ativo footer{
    background: linear-gradient(90deg, rgb(49, 48, 48) 44%, rgb(12, 12, 12) 100%);
}
/*animacoes*/
@keyframes anima-logo{
    33%{transform: rotate(-15deg);}
    100%{transform: rotate(0);}
}