.menu-nav{
    position: relative;
    padding: 1rem;
    background-color: rgb(248, 104, 104);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
/*icons*/
.icon-menu{
    width: 20px;
    height: 20px;
    margin: .7rem 0 0 .3rem;
    display: block;
}
.icon-darkmode{
    filter: brightness(200%);
    filter: grayscale(100%);
}
.icon-search{
    position: absolute;
    margin: 0;
    left: 5px;
    top: 5px;
}
/**/
.btn-menu{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 4px;
    line-height: 40px;
    transition: .3s;
}
.btn-menu:hover{
    background-color: #fff;
    color: rgb(248, 104, 104);
}
.menu-1 li:hover, .menu-nav .menu-2 li img:hover{
    background-color: rgba(255, 254, 254, 0.3);
    cursor: pointer;
    transition: .4s;
}
.li-menu{
    width: 2rem;
}
.menu-1{
    display: flex;
    width: 50%;
}
.menu-2{
    display: flex;
    width: 50%;
    justify-content: right;
    margin-right: 3rem;
}
.menu-1 li{
    margin-right: 2rem;
}
.menu-2 li{
    margin-right: 2rem;
}
#buscar{
    background-color:hsla(0,0%,100%,.2);
    color: #fff;
    opacity: 1;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 0 10px 50px;
}
#buscar:hover{
    background-color: rgba(247, 217, 217, 0.5);
}
#buscar::placeholder{
    color: #fff;
}
#buscar:focus{
    outline: none;
}
.div-search{
    position: absolute;
}
/*dark mode*/
body.ativo{
    background-color: rgb(90, 90, 90);
}
body.ativo .menu-nav{
    background-color: #222;
}
body.ativo .icon-darkmode{
    filter: contrast(100);
}